PUBLIC_WEB_PROBE_URL=https://lunchlineup.com/
PUBLIC_WEB_PROBE_METRICS_FILE=/var/lib/node_exporter/textfile_collector/lunchlineup_public_web.prom
PUBLIC_WEB_PROBE_EXPECTED_RELEASE_FILE=/opt/lunchlineup/current/DEPLOYED_GIT_SHA
PUBLIC_WEB_PROBE_CONNECT_TIMEOUT_SECONDS=5
PUBLIC_WEB_PROBE_MAX_TIME_SECONDS=15
PUBLIC_WEB_PROBE_MAX_BYTES=262144
